<div class="container">
    <div class="text-center">
      <h1 class="display-4">Registra un contenedor</h1>
    </div>
  </div>
    <!--Temina H1--> 
    <div class="container">
      <div class="row align-items-center justify-content-center vh-100">
        <div class="col-md-7 ">
          <div class="card">
            <div class="card-body">
              <form action="/microservicios/new-microservicio" method="POST" class="needs-validation" novalidate>
                <div class="form-row">
                  <div class="form-group col-md-6">
                    <label for="">Container</label>
                    <input type="text" name="container"  class="form-control" required autofocus autocomplete="off" >
                    <small>Write container name</small>
                    <div class="invalid-feedback">
                      Please choose a conatiner name
                    </div>
                  </div>
                  <div class="form-group col-md-6">
                    <label for="">Port</label>
                    <input type="text" name="port" class="form-control"  required autocomplete="off">
                    <small>Write a service port number </small>
                    <div class="invalid-feedback">
                      Please choose a port number valid
                    </div>
                  </div>
                </div><!---form-row-->
                <div class="form-row align-items-center">
                  <div class="form-group col-md-6">
                    <label for="">Server</label>
                    <input type="text" name="server"  class="form-control" required autocomplete="off">
                    <small>Production, Development, Services </small>
                    <div class="invalid-feedback">
                      Please choose a server
                    </div>
                  </div>
                  <div class="form-group col-md-6">
                    <label for="">Discover</label>
                    <input type="text" name="discover" class="form-control" required autocomplete="off">
                    <small>Write a discover name valid </small>
                    <div class="invalid-feedback">
                      Please write a discover name valid
                    </div>
                  </div>
                </div>
                <div class="form-group ">
                  <label for="">Source Code</label>
                  <input type="url" name="code" class="form-control" pattern="https?://.+" size="80" required autocomplete="off">
                  <small>Write a source code url: GitLab, GitHub</small>
                  <div class="invalid-feedback">
                    Please write a URI
                  </div>
                </div>
                <div class="form-group">
                  <label for="">Team</label>
                  <input type="text" name="team" class="form-control" required autocomplete="off">
                  <small>Write: Monsters or Hippos</small>
                  <div class="invalid-feedback">
                    Please write a Team
                  </div>
                </div>
                <div>
                  <button type="submit" class="btn btn-outline-success btn-block ">Register</button>
                  <button type="reset" class="btn btn-outline-secondary btn-block">Clean </button>
                </div>
              </form>
              <script>
                (function() {
                  'use strict';
                  window.addEventListener('load', function() {
                    var forms = document.getElementsByClassName('needs-validation');
                    var validation = Array.prototype.filter.call(forms, function(form) {
                      form.addEventListener('submit', function(event) {
                        if (form.checkValidity() === false) {
                          event.preventDefault();
                          event.stopPropagation();
                        }
                        form.classList.add('was-validated');
                      }, false);
                    });
                  }, false);
                })();
                </script>
            </div>
          </div>
        </div>
      </div>
    </div><!---->